#content {
    display:grid;
    grid-template-columns: 30% auto;
    height: 70vh;
}
#sidebar {
    overflow-x:hidden;
    overflow-y:scroll;
    height:inherit;
}
#info {
    margin: 0 2em 0 3em;
}
table {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    text-align:center;
}
tr:nth-child(even){
    background-color:var(--colour-surface);
}
td {
    border-left:1em solid #00000000;
    border-right:1em solid #00000000;
}
#info .button{
    float:right;
    margin:2em;
}