body {
    font-family: sans-serif;
    --colour-primary: #36a5ff;
    --colour-primary-light: #7bd6ff;
    --colour-primary-dark: #0077cb;
    --colour-secondary: #303f9f;
    --colour-secondary-light: #666ad1;
    --colour-secondary-dark: #001970;
    --colour-background: #f5f5f6;
    --colour-surface: #e1e2e1;

    --colour-on-primary: #000000;
    --colour-on-primary-dark: #FFFFFF;
    --colour-on-secondary: #FFFFFF;
    --colour-on-background: #000000;
    --colour-on-surface: #000000;

    background-color: var(--colour-background);
    color: var(--colour-on-background);
    margin:0;
    padding:0;
    min-width: fit-content;
}

header {
    background-color: var(--colour-primary);
    color: var(--colour-on-primary);
    padding: 1em 1em 0 1em;
    font-size:150%;
    margin-bottom: 1em;
    min-width: fit-content;
    box-shadow: 0.1em 0.1em 0.1em #00000088;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

header img {
    height:1.5em;
}

header nav a {
    padding: 0.25em 1em;
    cursor: pointer;
    transition: background-color 100ms;
    display: inline-block;
}

header nav a:hover {
    background-color: var(--colour-primary-dark);
}

.panelgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 0;
    margin:0.5em 2em;
}

.panel {
    background-color: var(--colour-surface);
    color: var(--colour-on-surface);
    padding: 0.5em 1em;
    margin: 1em;
    flex-grow: 1;
    min-width: fit-content;
    box-shadow: 0.1em 0.1em 0.1em #00000088;

    display:grid;
    grid-template-areas: 
        "icon . heading" 
        "icon . text";
    grid-template-columns: auto 0.5em 1fr;
}

.panel i {
    grid-area: icon;
    text-align: center;
    font-size: 4em;
    margin:auto;
}

.panel h2 {
    grid-area: heading;
    margin: 0.25em 0 0 0;
}

.panel>*:last-child {
    grid-area: text;
}

.clickable {
    transition: all 100ms;
    cursor: pointer;
    text-decoration: none;
}

.clickable:hover {
    transform: scale3d(1.15, 1.15, 2);
}

form {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: max-content;
    column-gap: 0.2em;
    row-gap: 0.5em;
    padding: 0.5em;
}

form>* {
    align-self: center;
}

form>.message {
    margin:0.1em;
    text-align: center;
    grid-column-end: span 2;
    height:1em;
}

button, .button {
    background-color: var(--colour-secondary);
    color: var(--colour-on-secondary);
    border: none;
    width:fit-content;
    padding: 0.5em 2em;
    transition: color 100ms;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: var(--colour-secondary-dark);
}



.selected {
    background-color: var(--colour-secondary);
    color: var(--colour-on-secondary);
}
